{%- if show == true -%}
  {%- if image != blank and heading != blank and link_url != blank -%}
    <div class="reversible-5050__container w-full mb-10">
      <div class="relative">
        <div class="flex flex-col {% if image_alignment == 'left' %}md:flex-row{% else %}md:flex-row-reverse{% endif %} gap-6 md:gap-24 md:mx-auto md:px-6 md:max-w-[85rem] items-center justify-center">
          <div class="w-full max-w-[480px] md:aspect-[4/5]">
            {%- if image_aspect_ratio == '4/5' -%}
              <img loading="lazy" class="h-full w-[90vw] mx-auto aspsect-[4/5] md:object-cover" src="{{ image | img_url: 'large' }}" alt="{{ heading }}">
            {%- else -%}
              <img loading="lazy" class="h-full w-full aspect-square object-cover md:mx-auto" src="{{ image | img_url: 'large' }}" alt="{{ heading }}">
            {%- endif -%}
          </div>
          <div class="w-full flex flex-col items-{{ content_alignment }} justify-center max-w-[525px] md:w-auto md:max-w-full pb-8 px-6 md:!p-0">
            {%- if subheading != blank -%}
              <h5 class="mb-4 sub-s caps">{{ subheading }}</h5>
            {%- endif -%}
            <h2 class="mb-4 h2">{{ heading }}</h2>
            {%- if description != blank -%}
              <div class="mb-8 p-s md:text-p text-{{ content_alignment }} md:max-w-[430px]">{{ description }}</div>
            {%- endif -%}
            {%- if link_type == 'button' -%}
              <a href="{{ link_url }}" target="_blank">
                <button class="font-roboto-condensed button button--{{ button_color }}">{{ link_text }}</button>
              </a>
            {%- else -%}
              <div>
                <a class="content-link font-roboto-condensed" target="_blank" href="{{ link_url }}">{{ link_text }}</a>
              </div>
            {%- endif -%}
          </div>
        </div>
        {%- if background -%}
          <div class="-z-10 absolute bottom-0 left-0 w-full h-3/4 bg-off-white md:m-auto md:top-0 md:right-0"></div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
