<title>{{ page_title }}</title>

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<meta name="description" content="{{ page_description | escape }}">

<link rel="canonical" href="{{ canonical_url }}">
<link rel="shortcut icon" href="{{ settings.site_favicon | img_url: '32x32' }}" type="image/png">

<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{- 'theme.css' | asset_url -}}"/>
<link rel="stylesheet" href="{{- 'glide.min.css' | asset_url -}}"/>
