{%-liquid
  assign current_variant = product.selected_or_first_available_variant
  assign color_swatch_size = false
  
  if product.options.size > 0
    for option in product.options
      assign option_downcase = option | strip | downcase

      if option_downcase contains 'color'
        assign color_swatch_size = product.options_by_name[option].values.size
        break
      endif
    endfor
  endif
-%}

<div
  class="p-6 lg:p-10 relative {{ class }}"
  data-tags={{ product.tags | json }}
  data-on-sale="{%-if product.compare_at_price_min > product.price_min -%} true {%- else -%} false {%- endif -%}"
  data-product-tile>
  <a href="{{ product.url }}" title="{{ product.title }}">
    <div class="aspect-square">
      {%- if product.featured_image -%}
        <img src="{{ product.featured_image | image_url: width: 300 }}" class="aspect-square object-cover" />
      {%- endif -%}
    </div>
    <div data-product-tile-badge></div>
    <div class="flex items-start mt-2 lg:mt-4">
      <p class="flex-1 text-p-s font-medium">{{ product.title }}</p>
      <div class="ml-4 hidden lg:flex items-center">
        <span class="font-oswald p-s font-semibold {% if current_variant.compare_at_price != blank %} text-error {% else %} text-black {% endif %}">
          {{ current_variant.price | money }}
        </span>
        {%- if current_variant.compare_at_price != blank -%}
          <span class="ml-2 font-oswald text-p-s text-grey-600 line-through">{{ current_variant.compare_at_price | money }}</span>
        {%- endif -%}
      </div>
    </div>
    <div class="mt-2">
      <span 
        class="stamped-product-reviews-badge"
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}" 
        data-product-type="{{product.type}}" 
        data-product-title="{{product.title}}" 
        style="display:block;">
        {{product.metafields.stamped.badge}}
      </span>
    </div>

    {%- unless color_swatch_size == false -%}
      <div class="mt-2 text-sub-s text-grey-600">
        {{ color_swatch_size }} {{ color_swatch_size | pluralize: 'color', 'colors' }} available
      </div>
    {%- endunless -%}

    <div class="lg:hidden mt-2">
      <div class="flex items-center">
        <span class="font-oswald p-s font-semibold {% if current_variant.compare_at_price != blank %} text-error {% else %} text-black {% endif %}">
          {{ current_variant.price | money }}
        </span>
        {%- if current_variant.compare_at_price != blank -%}
          <span class="ml-2 font-oswald text-p-s text-grey-600 line-through">{{ current_variant.compare_at_price | money }}</span>
        {%- endif -%}
      </div>
    </div>
  </a>
</div>
