<div class="overflow-hidden">
  <div class="ccontain">
    <div class="grid grid-cols-4 gap-10 lg:gap-16">
      <div class="col-span-4 lg:col-span-1">
        {%- render 'account-side-nav' -%}
      </div>
      <div class="col-span-4 lg:col-span-3 py-10 lg:py-20">
        <div data-addresses-list>
          <h1 class="text-h4 md:text-h2">Addresses</h1>
          <div class="my-10 lg:my-14">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:gap-6">
              {%- for address in customer.addresses -%}
                <div class="p-9 min-h-[280px] md:min-h-[296px] border border-solid border-grey-100" data-address-card data-id="{{ address.id }}">
                  <div class="flex flex-col h-full">
                    <div class="flex-1">
                      <p class="tracking-[1.5px] font-semibold text-black mb-3">
                        {{ address.first_name }} {{ address.last_name }}
                      </p>

                      {%- if address.address1 != blank -%}
                        <p class="p">{{ address.address1 }}</p>
                      {%- endif -%}
                      {%- if address.address2 != blank -%}
                        <p class="p">{{ address.address2 }}</p>
                      {%- endif -%}

                      <p class="p">
                        {% if address.city != blank %}
                          {{ address.city }},
                        {% endif %}
                        {{ address.province_code }}
                        {{ address.zip }}
                      </p>

                      <p class="p">{{ address.country }}</p>
                    </div>

                    {%- if customer.default_address == address -%}
                      <p class="p text-primary mt-6">Default Address</p>
                    {%- endif -%}

                    <div class="flex items-center mt-6">
                      <button class="button button--tertiary button--small" data-address-id="{{ address.id }}" data-edit-address>Edit</button>
                      <button class="button button--small text-primary mr-8" data-delete-address data-address-id="{{ address.id }}" data-address-url="{{ customer.default_address.url }}" data-confirm-message="Are you sure you wish to delete this default address?">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
              <button class="p-9 min-h-[280px] md:min-h-[296px] border border-solid border-black" data-add-new-address>
                <div class="flex flex-col items-center justify-center text-green-leaf">
                  {%- render 'icon-plus' -%}
                  <p class="p font-medium uppercase mt-1">Add an Address</p>
                </div>
              </button>
            </div>
          </div>
        </div>

        {% render 'account-address-form' address: customer.new_address %}

        {% for address in customer.addresses %}
          {% render 'account-address-form' address: address, default_address: customer.default_address %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
